@model ApplicationUser
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-l2">
        
        <div class="form-group">
            <label asp-for="@Model.Id" class="col-form-label custom-label"></label>
            <input asp-for="@Model.Id" class="form-control custom-input" readonly>
        </div>
        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-form-label custom-label">User Name</label>
            <input asp-for="@Model.UserName" class="form-control custom-input" readonly>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email" class="col-form-label custom-label"></label>
            <input asp-for="@Model.Email" class="form-control custom-input" readonly>
        </div>
        <div class="form-group">
            <label asp-for="@Model.PhoneNumber" class="col-form-label custom-label"></label>
            <input asp-for="@Model.PhoneNumber" class="form-control custom-input" readonly>
        </div>
        <div class="form-group">
            <label asp-for="@Model.IsActive" class="col-form-label custom-label"></label>
            <input value="@TempData["IsActive"]" class="form-control custom-input" readonly>
        </div>
        <div class="form-group">
            <label asp-for="@Model.IsActive" class="form-check-label">Is Active</label>
            <input asp-for="@Model.IsActive" class="form-ckeck-input" readonly disabled />
        </div>
        <br />
        <a class="btn btn-info" asp-action="Update" asp-route-id="@Model.Id">Update</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>
