@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
    var Departments = new SelectList(ViewBag.Departments, "Id", "Name");
}
<style>

    .image-container {
        position: absolute;
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        top: 120px;
        right: 120px;
        display: flex;
    }

    .custom-label {
        width: 900px; /* Set the width as needed */
        height: 30px; /* Set the height as needed */
        display: inline-block; /* Ensures inline behavior with width and height */
        padding: 5px; /* Optional: Add padding for spacing within the label */
    }

    .custom-input {
        width: 900px; /* Set the width as needed */
        height: 30px; /* Set the height as needed */
        display: inline-block; /* Ensures inline behavior with width and height */
        padding: 5px; /* Optional: Add padding for spacing within the label */
    }
</style>
<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label custom-label">Name</label>
    <input asp-for="@Model.Name" class="form-control custom-input" placeholder="Enter Employee Name">
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Address" class="col-form-label custom-label">Address</label>
    <input asp-for="@Model.Address" class="form-control custom-input" placeholder="Enter Adress">
    <span asp-validation-for="@Model.Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label custom-label">Email</label>
    <input asp-for="@Model.Email" class="form-control custom-input" placeholder="Enter Email">
    <span asp-validation-for="@Model.Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Salary" class="col-form-label custom-label">Salary</label>
    <input asp-for="@Model.Salary" class="form-control custom-input" placeholder="Enter Salary">
    <span asp-validation-for="@Model.Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.HireDate" class="col-form-label custom-label">HireDate</label>
    <input asp-for="@Model.HireDate" class="form-control custom-input" placeholder="Enter HireDate">
    <span asp-validation-for="@Model.HireDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.DepartmentId" class="col-form-label custom-label">Department</label>
    <select asp-for="@Model.DepartmentId" asp-items="Departments" class="form-control custom-label">
        <option> --- Select Department --- </option>
    </select>
    <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Image" class="col-form-label custom-label"></label>
    <input type="file" asp-for="@Model.Image" class="form-control custom-input"/>
</div>
<div class="form-group form-check">
    <input name="IsActive" class="form-ckeck-input" type="checkbox" asp-for="@Model.IsActive" />
    <label asp-for="@Model.IsActive" class="form-check-label">Is Active</label>
</div>
<br />

    
@* @section Scripts {
    <partial name="ValidationScriptsPartial.cshtml" />
} *@